{% extends "base.html.twig" %}
{% block content %}
<h1>Bienvenue!!!!</h1>
<div class="accueil">
<img class="lotr" src="https://img.gaming.gentside.com/s3/frgsg/1280/cinema/default_2020-06-23_95c8eefb-c8f6-4e56-a8f4-724e32195fd9.png">
</div>
<div>
<h2>Regardez les séries que vous souhaitez...</h2>
</div>
{% endblock %}