{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Toutes les catégories de la table program : </h1>
    {% for category in categories %}
        <div class="type-categorie">
            <a href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}</a>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}
    <div class="boutton-accueil">
       <button><a  href="{{ path('app_index') }}">
        Retour à l'accueil
    </a></button>
    </div>
    <button><a  href="{{ path('category_new') }}">
        Ajouter une Catégorie
    </a></button>

{% endblock %}