@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}
body {
    background-color: lightgray;
    color: rgb(52, 54, 52);
    font-size: 1.2rem;
    text-align: center;
}
button.favorite.styled {
    width: 150px;
    margin: 0.5rem;
}
a {
    text-decoration: none;
    // font-size: 1.6rem;
}
.type-categorie {
    margin: 0.5rem;
}


#trait_dessus
{
border-top: 1px solid #000;
width : 60%;
margin-left: auto;
margin-right: auto;
}

p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.poster-mini {
    width: 30%;
}
img.miniature {
    width: 50%;
}
// .img {
//     max-width: 100%;
// }

.resume {
    width: 65%;
}
.chaques-episodes-une-photo {
    display: flex;
}